<link rel="stylesheet" href="{{url_for('static', filename='/css/footer.css')}}">

<div class="footer">
    <div class="footer-nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/portfolio">Portfolio</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul> 
    </div>

    <div class="copyright"><small>Ethan Kuhrts 2020</small>
    </div>
    <div class="footer-links">
        <ul>
            <li>
                <a href=""><img style="height: 40px; width: 40px" src="/static/images/icons/twitter-icon.png" 
                    alt="twitter"></a>
            </li>
            <li>
                <a href=""><img style="height: 40px; width: 40px" src="/static/images/icons/instagram-icon.png" 
                    alt="instagram"></a>
            </li>
            <li>
                <a href="https://github.com/ethankuhrts" target="_blank"><img style="height: 40px; width: 40px" src="/static/images/icons/github-icon.png"
                     alt="github"></a>
            </li>
        </ul>
    </div>
</div>