<div class="wsb-htmlsnippet-element">
    
<style>
    body {
        background-color: #a5a5a5;
    }

    .header-custom {
        height: 100%;
        width: 100%;
    }
    
    .nav-custom {
        height: 70px;
        display: table;
        border-spacing: 5px;
    }
    
    .nav-custom a {
        height: 100%;
        padding: 0px 25px;
        display: table-cell;
        vertical-align: middle;
        background-color: rgba(256, 256, 256, 0.8);
        color: black;
        text-decoration: none;
    }
    
    .active-target-page, .nav-custom a:hover {
        background-color: black;
        color: white;
    }
    
    .nav-custom li {
        list-style-type: none;
        font-family: Oswald;
        font-size: 20px;
    }
    
</style>

<div class="header-custom">
    <ul class="nav-custom">
        <a href="/home.html" target_page="home.html"><li>Home</li></a>
        <a href="/contact-us.html"><li>Contact</li></a>
        <a href="/services.html"><li>Services</li></a>
        <a href="/houselifts.html"><li>Houselifts</li></a>
        <a href="/remodels.html"><li>Remodels</li></a>
    </ul>
</div>

<script>
    // Detects if the link is for the current page and changes the style to indicate the page is active
    var nav_custom = document.getElementsByClassName("nav-custom")[0];
    console.log(nav_custom, nav_custom.childNodes)
    
    for(var i = 0; i < nav_custom.childNodes.length; i++) {
        nav_node = nav_custom.childNodes[i];
        if (nav_node.nodeType == Node.ELEMENT_NODE) {
            if (nav_node.href == document.URL) {
                nav_node.classList += "active-target-page";
                nav_node.style['background-color'] = 'black'
                nav_node.style['color'] = 'white'
            }
        }
    }
</script>

</div>