{% extends 'templates/base.html' %}

{% block main %}

<style>
    .parallax-container {
        position: relative;
        width: 100%;
        height: calc(100vh - 65px);
        overflow: hidden;
        background: black;
    }

    .parallax-container::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: radial-gradient(rgba(223, 168, 255, 0.25), rgba(51, 10, 56, .25)) 
    }

    .main-container {
        position: relative;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        background: black;
    }

    .parallax-container img {
        opacity: 50%;
    }

    .parallax-header {
        position: relative;
        top: 30vh;
        margin: auto;
        color: white;
        font-size: 1.3em;
        text-align: center;
        text-shadow: 0px 0px 15px rgb(223, 168, 255);
        filter: drop-shadow(0px 0px 30px rgb(223, 168, 255));
        text-rendering:optimizeLegibility;
        text-justify:newspaper
    }

    #parallax-3 {
        position: absolute;
        width: 90%;
        left: 5%;
        filter:blur(.6px)  drop-shadow(0px 0px 3px blue)
    }

    #parallax-1 {
        position: absolute;
        width: 50%;
        left: 25%;
        filter:blur(2px) drop-shadow(0px 0px 3px green) brightness(50%);        
    }
    #parallax-2 {
        position: absolute;
        width: 90%;
        left: 50%;
        filter: blur(1px) drop-shadow(0px 0px 3px red) brightness(75%);
    }

    #content-parallax-1 {
        position: absolute;
        top: 10px;
        width: 90%;
        left: 5%;
        background: black;
    }

    #background-particles {
        position: absolute;
        z-index: 0;
    }

    
</style>

<div class="parallax-container" id="parallax-container">
    <canvas id = "background-particles"></canvas>
    <img src="/static/images/code-parallax/js-parallax.png" id="parallax-2">
    <img src="/static/images/code-parallax/css-parallax.png" id="parallax-1">
    <img src="/static/images/code-parallax/html-parallax.png" id="parallax-3">
    <div class="parallax-header" id ="parallax-header">
        <h1>Ethan Kuhrts</h1>
        <p>Full stack web developer</p>
    </div>
</div>

<div class="main-container">
    <div id="content-parallax-1">
        <p style="max-width: 50%">
            <span style="font-size: 2em">H</span>ello im Ethan, a full stack web developer. 
            Ive been programming for 5 years and use languages such as python, php, javascript, 
            css, html and c# I am also profficient using SQL, JSON and other storage formats.
        </p>
    </div>
</div>


<script>

var canvas = document.getElementById('background-particles');
var ctx = canvas.getContext('2d');

window.addEventListener('resize', resizeCanvas, false);

function resizeCanvas() {
    canvas.width = window.innerWidth;
    canvas.height = window.innerHeight;

    /**
        * Your drawings need to be inside this function otherwise they will be reset when 
        * you resize the browser window and the canvas goes will be cleared.
        */
}
resizeCanvas();

class Particle {
    constructor () {
        this.color = 'white';
        this.radius = Math.random() * 2;
        this.x = Math.random() * canvas.clientWidth;
        this.y = Math.random() * canvas.clientHeight;
        this.direction = Math.random() * 360;
        this.speed = 1;

        var self = this;   
    }

    particleUpdate(self) {
        self.x += self.speed * Math.cos(self.direction * Math.PI / 180);
        self.y += self.speed * Math.sin(self.direction * Math.PI / 180);    
        if ((self.x >= canvas.width || self.x <= 0) ||
            (self.y >= canvas.height || self.y <= 0)) {
            self.direction += 180;
        } 
        self.draw();
    }

    draw() {
        ctx.fillStyle = this.color;
        ctx.beginPath();
        ctx.arc(this.x, this.y, this.radius, 0, 2 * Math.PI);
        ctx.fill();
    }
}

var particles = [];

for (var p = 0; p < 100; p++) {
    particles.push(new Particle())
}

function update_particles() {
    ctx.clearRect(0, 0, canvas.width, canvas.height);
    for (var p = 0; p < particles.length; p++) {
        var particle = particles[p];
        particle.particleUpdate(particle);
        
    }

    window.requestAnimationFrame(update_particles)
}

update_particles()


</script>


<script>

class ParallaxItem {
    constructor (element) {
        this.element = element;
        this.direction = 1; // down, -1 for up
        this.speed = 1; // 3 pixels per 1 pixelscrolled
        this.limitTop = -10000; // origin
        this.limitBottom = 10000; // furthest point from origin
        this.defaultTop = this.element.style.top;

        var self = this

        document.addEventListener('scroll', function(e) { self.updateParallax(e, self) });
    }

    updateParallax (e, self) {
        var el = self.element;
        var scrollY = window.scrollY;

        var elTop = (scrollY * self.speed) * self.direction;

        if (elTop > self.limitTop && elTop < self.limitBottom) {
            el.style['margin-top'] = (elTop) + 'px';
        }

    }

}

parallax1 = new ParallaxItem(document.getElementById('parallax-1'))
parallax1.speed = -0.25;

parallax2 = new ParallaxItem(document.getElementById('parallax-2'))
parallax2.speed = -.5;

parallax3 = new ParallaxItem(document.getElementById('parallax-3'))
parallax3.speed = -.7;



</script>

{% endblock %}