{% extends 'templates/base.html' %}

{% block main %}

<style>

    .gallery {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 5px;
        width: 100%;
    }
    .gallery-item {
        background-color: black;
        width: 100%;
        color: white;
    }

</style>

<div class="container">
    <p style="margin: 10px; font-size: 1.3em;">Portfolio</p>
    
    <div class="gallery">
        {% for item in gallery %}
        <div class="gallery-item">
            {{item['title']}}
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}